{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
<h3 style="color:green">Projects</h3>
<div class="filter-buttons-container">
    <a href="/projects/create/csv" class="btn btn-create-project">Create Project & Samples from exported.csv</a>
    <a href="/projects/create" class="btn btn-create-project">Create Project</a>
    <!-- Add input field for filtering -->
    <input type="text" id="projectsFilter" placeholder="Filter Projects">
</div>

<table id="projectsTable">
    <thead>
        <tr>
            <th>Project ID</th>
            <th>Customer Name</th>
            <th>Workflow</th>
            <th>Number of Samples</th>
            <th>Creation Date</th>
            <th>Completion Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="/samples?filter={{ project.project_id }}">{{ project.project_id }}</a></td>
            <td>{{ project.customer_name }}</td>
            <td>{{ project.workflow }}</td>
            <td>{{ project.nr_samples }}</td>
            <td>{{ project.creation_date }}</td>
            <td>{{ project.completion_date }}</td>
            <td>{{ project.status }}</td>
            <td>
                <a href="/projects/edit/{{ project.project_id }}" class="btn btn-sm btn-primary">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    // Add event listener to input field for filtering
    document.getElementById("projectsFilter").addEventListener("input", filterTable);

    function filterTable() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = this;
        filter = input.value.toUpperCase();
        table = document.getElementById("projectsTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't contain the filter query
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            var visible = false;
            for (var j = 0; j < td.length; j++) {
                var cell = td[j];
                if (cell) {
                    txtValue = cell.textContent || cell.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break;
                    }
                }
            }
            // Show or hide row based on visibility
            tr[i].style.display = visible ? "" : "none";
        }
    }
</script>

{% endblock %}
